*.Rhistory
*.Rapp.history 
*SuperTrackerDatabase.txt
*original_SuperTrackerDatabase.txt
*“SuperTracker Foods Database 2017.xlsx”
*”SuperTracker Database - Portion Data.txt”
*”SuperTracker Database - Nutrients.txt”

